
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";

$susy : (
	columns: 4,
  global-box-sizing: border-box,
  debug: (image: show)
	);

@include border-box-sizing;

.wrap {
  @include container(1024px);
}

.content {
  margin-top: 10vh;
  height: 80vh;
  background: rgba(113, 218, 210, .8);
}
.sidebar {
  margin-top: 10vh;
  height: 80vh;
  background: rgba(250, 231, 179, .8);
}

h2 {
  padding: 1rem 0;
  text-align: center;
  color: #555;
}
