//
// Credit goes to http://www.sitepoint.com/use-susy-bootstrap/
//

// Resets
@import "../bower_components/normalize-scss/normalize";

// Libraries
@import "susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "custom-bootstrap"; // our own version of bootstrap scss files

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Fluid Style.
$susy: (columns: 12, container: 1140px, global-box-sizing: border-box, debug: (image: hide));

@include border-box-sizing;

.wrap {
  @include container;
  padding-left: 15px;
  padding-right: 15px;
}

.centred-content {
  // text-align: center;
  @include breakpoint (760px) {
    @include span(10);
    margin-left: span(1 wide);
  }
}

.three-columns {
  @include clearfix;
  margin-bottom: gutter();
  // @media (min-width: 760px) {
  //   @include gallery(4);
  // }
  @include breakpoint(760px) {
    .gi {
      @include gallery(4);
    }
  }
}


.four-columns {
  @include clearfix;
  .gi {
    @include gallery(6);
    margin-bottom: gutter();
    @include breakpoint(760px) {
      @include gallery(3);
      margin-bottom: 0;
    }
  }
}

.two-columns {
  @include clearfix;
  .gi {
    margin-bottom: gutter();
    @include breakpoint(760px) {
      @include gallery(6);
    }
  }
}

//
//
h1 {
  margin-bottom: 30px;
}

.btn-default:hover {
  background: $brand-primary;
  color: white;
  border-color: $brand-primary;
}

.btn-primary:hover {
  background: white;
  color: $brand-primary;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 0;
}

.navbar-collapse {
  border-top: 0;
}

.masthead {
  background: $brand-primary;
  color: white;
  text-align: center;
  padding: 80px 0;
  .lead {
    font-size: 30px;
    line-height: 42px;
  }
}

.bootstrap-icon {
  display: inline-block;
  width: 144px;
  height: 144px;
  margin-bottom: 30px;
  font-size: 108px;
  line-height: 140px;
  font-weight: 500;
  border: 1px solid #cdbfe3;
  border-radius: 15%;
}

.lead {
  font-size: 21px;
}

.half-rule {
  width: 100px;
  margin: 40px auto;
}

.featured-item {
  text-align: center;
  padding: 80px 0;
  border-bottom: 1px solid #ccc;
}

